$include /etc/inputrc

set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
j: history-search-forward
k: history-search-backward
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

set show-mode-in-prompt on

set input-meta on
set output-meta on
set convert-meta off

$if term=linux
  set vi-ins-mode-string \1\e[?0c\2
  set vi-cmd-mode-string \1\e[?8c\2
$else
  set vi-ins-mode-string \1\e[6 q\2
  set vi-cmd-mode-string \1\e[2 q\2
$endif

set show-all-if-ambiguous On
set show-all-if-unmodified On
set completion-prefix-display-length 3
set completion-ignore-case on
set match-hidden-files off
set page-completions off
set completion-query-items 200
set visible-stats on
set skip-completed-text on

# Use Alt/Meta + Delete to delete the preceding word
"\e[3;3~": kill-word

## enable Alt-arrows
"\e[1;5D": backward-word ### Alt left
"\e[1;5C": forward-word ### Alt right
