[settings]
experimental = true

[settings.cargo]
binstall = false

[settings.erlang]
compile = true

[settings.node]
compile = true
gpg_verify = true

[settings.python]
compile = true

[tools]
# languages
"asdf:ouest/asdf-perl" = "latest"
cabal = "latest"
clang = "latest"
clojure = "latest"
go = "latest"
graalvm = "latest"
java = "latest"
julia = "latest"
kotlin = "latest"
lua = "5.1.5"
php = "latest"
python = "latest"
ruby = "latest"
rust = "latest"
sbcl = "latest"
zig = "latest"

# basic
bat = "latest"
bat-extras = "latest"
coreutils = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
just = "latest"
node = "latest"
ripgrep = "latest"
ripgrep-all = "latest"
starship = "latest"
uv = "latest"

# devtools
"asdf:luizm/asdf-shfmt" = "latest"
ast-grep = "latest"
black = "latest"
clang-format = "latest"
cmake = "latest"
github-cli = "latest"
goreleaser = "latest"
jj = "latest"
jq = "latest"
jreleaser = "latest"
ktlint = "latest"
lazygit = "latest"
leiningen = "latest"
lua-language-server = "latest"
markdownlint-cli2 = "latest"
maven = "latest"
ninja = "latest"
prettier = "latest"
quarkus = "latest"
ripsecrets = "latest"
rust-analyzer = "latest"
shellcheck = "latest"
spring-boot = "latest"
stylua = "latest"
tinytex = "latest"
tree-sitter = "latest"
yamlfmt = "latest"
yamllint = "latest"
yj = "latest"
yq = "latest"
zls = "latest"

# go devtools
"go:github.com/fatih/gomodifytags" = "latest"
"go:github.com/cweill/gotests/gotests" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:github.com/x-motemen/gore/cmd/gore" = "latest"
"go:github.com/jessfraz/dockfmt" = "latest"

# python devtools
"pipx:isort" = "latest"
"pipx:pipenv" = "latest"
"pipx:nose" = "latest"
"pipx:nose2" = "latest"
"pipx:pytest" = "latest"
"pipx:pyflakes" = "latest"

# npm devtools
"npm:stylelint" = "latest"
"npm:js-beautify" = "latest"

# cargo devtools
"cargo:cargo-upgrade-command" = "latest"

# other
bitwarden = "latest"
btop = "latest"
ctop = "latest"
delta = "latest"
dust = "latest"
ffmpeg = "latest"
imagemagick = "latest"
jwt = "latest"
neovim = "latest"
pandoc = "latest"
typst = "latest"
zellij = "latest"
"npm:vscode-json-languageserver" = "latest"
"npm:typescript" = "latest"
"npm:typescript-language-server" = "latest"
"cargo:https://github.com/latex-lsp/texlab" = "tag:v5.22.1"
"npm:bash-language-server" = "latest"
"pipx:citation-langserver" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"pipx:pyright" = "latest"
"npm:yaml-language-server" = "latest"
