[settings]
experimental = true

[tools]
"asdf:luizm/asdf-shfmt" = "latest"
"asdf:ouest/asdf-perl" = "latest"
ast-grep = "latest"
bat = "latest"
bat-extras = "latest"
bitwarden = "latest"
black = "latest"
btop = "latest"
cabal = "latest"
clang = "latest"
clang-format = "latest"
clojure = "latest"
cmake = "latest"
coreutils = "latest"
ctop = "latest"
delta = "latest"
dust = "latest"
eza = "latest"
fd = "latest"
ffmpeg = "latest"
fzf = "latest"
github-cli = "latest"
go = "latest"
goreleaser = "latest"
graalvm = "latest"
imagemagick = "latest"
java = "latest"
jj = "latest"
jq = "latest"
jreleaser = "latest"
julia = "latest"
just = "latest"
jwt = "latest"
kotlin = "latest"
ktlint = "latest"
lazygit = "latest"
leiningen = "latest"
lua = "5.1.5"
lua-language-server = "latest"
markdownlint-cli2 = "latest"
maven = "latest"
neovim = "latest"
ninja = "latest"
node = "latest"
pandoc = "latest"
php = "latest"
prettier = "latest"
python = "latest"
quarkus = "latest"
ripgrep = "latest"
ripgrep-all = "latest"
ripsecrets = "latest"
ruby = "latest"
rust = "latest"
rust-analyzer = "latest"
sbcl = "latest"
shellcheck = "latest"
spring-boot = "latest"
starship = "latest"
stylua = "latest"
tinytex = "latest"
tree-sitter = "latest"
typst = "latest"
uv = "latest"
yamlfmt = "latest"
yamllint = "latest"
yj = "latest"
yq = "latest"
zellij = "latest"
zig = "latest"
zls = "latest"
